.play-page {
  background-color: gray;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .bubble-div {
    padding: 10px;
    font-size: 30px;
  }
  .google-button {
    background-color: rgb(83, 83, 250);
  }
  .to-auth {
    background-color: pink;
  }
  .guest-button {
    background-color: rgb(82, 242, 82);
  }
}
