.play-page {
  background-color: gray;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  * {
    margin: 20px;
  }
  .bubble-div {
    padding: 10px;
    font-size: 30px;
  }
  .google-button {
    background-color: rgb(83, 83, 250);
  }
  .to-auth {
    background-color: rgb(249, 192, 255);
  }
  .guest-button {
    background-color: rgb(82, 242, 82);
  }
}
