.leaderboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;

  .leaderboard-left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .leaderboard-right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      color: rgb(66, 255, 66);
    }
  }
}

h1 {
  color: rgb(66, 255, 66);
}
.bubble-div {
  margin: 10px;
  * {
    display: flex;
    flex-direction: column;
  }
}
#change-score-type-container {
  background-color: rgb(81, 81, 81);
}
