.leaderboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;

  .leaderboard-left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
      color: rgb(66, 242, 255);
    }

    .leaderboard-user-stats {
      background-color: grey;
      h4 {
        color: rgb(66, 242, 255);
      }
    }
  }

  .leaderboard-right-side {
    display: flex;
    flex-direction: column;
    align-items: center;

    #above-podium {
      display: flex;
      justify-content: space-between;
      align-items: center;
      * {
        margin: 20px;
      }
      .bubble-div {
        background-color: rgb(82, 242, 82);
        font-size: 20px;
      }
    }
  }
}
