.leaderboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;

  .leaderboard-left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .leaderboard-user-stats {
      h3 {
        color: rgb(66, 242, 255);
      }
    }
  }

  .leaderboard-right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    .switch-score-type-button {
      margin-top: auto;
      cursor: pointer;
    }
    p {
      color: rgb(66, 242, 255);
    }
  }
}
