.leaderboard-container {
  background-color: aqua;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  .left-side {
    background-color: red;
    height: 750px;
    width: 500px;
  }
  .right-side {
    background-color: blue;
    height: 750px;
    width: 750px;
    .podium {
      background-color: black;
      height: 50%;
      box-sizing: border-box;
    }
  }
}
