.stats-page-container {
  display: grid;
  background-color: gray;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
  padding: 20px;

  .my-stats-container {
    .bubble-div {
      cursor: default;
      h3 {
        cursor: text;
      }
    }
  }

  .graph-container {
    padding: 20px;
    .graph-placeholder {
      background-color: blue;
      width: 100%;
      height: 100%;
    }
  }
}
