.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  background-color: rgb(81, 81, 81);

  * {
    font-size: 25px;
    text-decoration: none;
    color: rgb(66, 242, 255);
    cursor: pointer;
  }
}
