.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  background-color: rgb(81, 81, 81);

  #logo {
    font-family: "Birthstone", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
  }

  * {
    font-size: 25px;
    text-decoration: none;
    color: rgb(66, 242, 255);
    cursor: pointer;
  }

  .bubble-div {
    color: black;
  }
}
