.in-play-page {
  background-color: gray;
  height: 100vh;
  padding: 75px;
  .heads-up-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: gray;

    color: rgb(66, 242, 255);
    font-size: 25px;
    .of-heads-up {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .paragraph-holder {
    font-family: "Courier New", Courier, monospace;
    color: white;
    font-size: 25px;
    margin: 40px;

    div {
      display: inline-block;
      width: max-content;
      white-space: pre;
    }
    .line {
      display: flex;
      flex-direction: row;
      .untyped {
        background-color: grey;
        color: white;
      }

      .correct {
        background-color: rgb(66, 255, 66);
        color: black;
      }

      .wrong {
        background-color: red;
        color: black;
      }
    }
  }
  .paragraph-holder:focus {
    outline: none;
  }
  .credit-container {
    margin-top: 100px;
    * {
      color: white;
      text-decoration: none;
    }
  }
}
