.sign-up-container {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  padding: 100px;
  * {
    font-size: large;
    padding: 10px;
  }
  h2 {
    font-size: xx-large;
  }
}
