.bubble-div {
  background-color: rgb(66, 242, 255);
  border: 2px solid black;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  * {
    color: black;
    text-decoration: none;
    margin: 15px;
    display: flex;
    font-weight: 550;
    background-color: inherit;
    border: none;
  }
  button {
    cursor: pointer;
  }
}
