.submission-page-container {
  height: 100vh;

  .body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .stats-container {
      display: flex;
      justify-content: center;
      align-items: center;
      display: inline-block;
      margin: 20px;
    }

    .action-buttons {
      display: flex;
      justify-content: space-around;

      .discard {
        background-color: red;
      }

      .submit {
        background-color: rgb(82, 242, 82);
      }

      * {
        margin: 20px;
      }
    }
  }
}
