.home-container {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100vh;
  h1 {
    color: rgb(66, 242, 255);
    font-size: 200px;
    font-family: "Birthstone", cursive;
    font-weight: 400;
    font-style: normal;
  }
}
