.full-container {
  background-color: gray;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 30px;
  h1 {
    color: rgb(66, 242, 255);
  }
  li {
    font-size: 20px;
  }
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    h1 {
      color: rgb(66, 242, 255);
      font-size: 200px;
      font-family: "Birthstone", cursive;
      font-weight: 400;
      font-style: normal;
    }
  }
}
