.heatmap-container {
  padding: 10px;
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    * {
      padding: 5px;
      margin: 5px;
    }
  }
  .keyboard-container {
    .row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .key {
        margin: 10px;
        font-size: 30px;
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border: 3px solid black;
        p {
          margin: 0px;
        }
      }
      .double {
        flex-direction: column;
        font-size: 20px;
      }
      #space {
        width: 600px;
      }
      .none {
        background-color: gray;
      }
      .perfect {
        background-color: white;
      }
      .best-quarter {
        background-color: green;
      }
      .best-half {
        background-color: rgb(225, 255, 0);
      }
      .worst-half {
        background-color: rgb(255, 136, 0);
      }
      .worst-quarter {
        background-color: red;
      }
      .hovered {
        font-size: 15px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
