.heatmap-container {
  padding: 10px;
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    * {
      padding: 5px;
      margin: 5px;
    }
  }
  .keyboard-container {
    .row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .key {
        margin: 10px;
        font-size: 30px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border: 3px solid black;
        p {
          margin: 0px;
        }
      }
      .double {
        flex-direction: column;
        font-size: 20px;
      }
      #space {
        width: 550px;
      }
      .none {
        background-color: gray;
      }
      .best-quarter {
        background-color: rgb(52, 182, 52);
      }
      .best-half {
        background-color: rgb(79, 128, 0);
      }
      .worst-half {
        background-color: rgb(111, 162, 0);
      }
      .worst-quarter {
        background-color: rgb(166, 255, 0);
      }
    }
  }
}
.green {
  background-color: green;
}
