.sign-in-container {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  padding: 100px;
  * {
    font-size: large;
    padding: 10px;
  }
  h2 {
    font-size: xx-large;
  }
  .guest-button {
    background-color: rgb(82, 242, 82);
  }
  .google-button {
    background-color: rgb(83, 83, 250);
  }
}
