.sign-in-container {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  padding: 100px;
  * {
    font-size: large;
    padding: 10px;
  }
  h2 {
    font-size: xx-large;
  }
}

#google-button {
  background-color: rgb(81, 81, 81);
}
