.sign-in-container {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  padding: 100px;
  .non-google-elements {
    display: flex;
    flex-direction: column;
    * {
      padding: 10px;
      font-size: large;
    }
    h2 {
      font-size: xx-large;
    }
    .guest-button {
      background-color: rgb(82, 242, 82);
      margin-bottom: 10px;
    }
  }
}
