.podium-piece-container {
  height: 650px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  .medal {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 40px;
  }
  .podium-tower {
    background-color: rgb(81, 81, 81);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-size: 20px;
    }
  }
}
